
body{
  background-color: antiquewhite;
}
#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}
.btn{
  padding: 10px;
  border-radius: 5px;
  color: aquamarine;
}
.title{
  color:  rgb(66, 65, 65);

}
.input{
  background-color:aquamarine;
  padding: 10px;
  color: black;
}

.btn1{
  margin-left: 30px;
  margin-right: 10px;
}
.ans{
  color: black;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 