* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff3e0;
}

#center {
  width: 650px;
  max-width: 90%;
  margin: 50px auto;
  padding: 30px;

  background-color: white;
  border: 2px solid #ff9800;
  border-radius: 10px;
}

/* Labels */
#center label {
  display: block;
  margin-bottom: 6px;
  color: #e65100;
  font-weight: bold;
}

/* Inputs */
#center input {
  color:  #573605;
  width: 100%;
  padding: 11px;
  margin-bottom: 15px;

  border: 1px solid #ffcc80;
  border-radius: 5px;

  background-color: #fffaf5;
  font-size: 16px;
  outline: none;
}

#center input:focus {
  border-color: #ff9800;
}

/* Add / Update button */
#center > button {
  padding: 10px 20px;
  margin-bottom: 20px;

  border: none;
  border-radius: 5px;

  background-color: #ff9800;
  color: white;

  font-weight: bold;
  cursor: pointer;
}

/* Search */
#center input[placeholder="Search by name"] {
  border-color: #ff9800;
}

/* Total Users */
#center > h2 {
  margin: 15px 0;
  color: #e65100;
  font-size: 20px;
}

/* User cards */
#center > div {
  padding: 15px;
  margin-bottom: 12px;

  background-color: #fff3e0;
  border-left: 5px solid #ff9800;
  border-radius: 5px;
}

/* User name */
#center > div h3 {
  margin-bottom: 8px;
  color: #bf360c;
}

/* User details */
#center > div p {
  margin-bottom: 5px;
  color: #555;
}

/* Edit button */
#center > div button:first-of-type {
  padding: 7px 14px;
  margin-top: 8px;
  margin-right: 8px;

  border: none;
  border-radius: 4px;

  background-color: #fb8c00;
  color: white;

  cursor: pointer;
}

/* Delete button */
#center > div button:last-of-type {
  padding: 7px 14px;

  border: none;
  border-radius: 4px;

  background-color: #e53935;
  color: white;

  cursor: pointer;
}