* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff8dc;
}

#center {
  width: 500px;
  margin: 60px auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #443710;
}

#center input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #4b3d11;
  border-radius: 5px;
  background-color: #fffdf0;
  color: black;
}

#center div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 15px;
  margin-bottom: 10px;

  background-color: #fff3b0;
  border-radius: 5px;
}

#center h3 {
  color: #5c4800;
}

#center p {
  color: #8a6d00;
  font-weight: bold;
}